<h3>Import modules</h3>

In [73]:
import boto3
import pandas as pd
from io import StringIO # python3; python2; BytesIO
import time

<h3>Store constant variables</h3>

In [8]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('cluster.config'))

In [9]:
AWS_ACCESS_KEY = config.get('AWS', 'AWS_ACCESS_KEY')
AWS_SECRET_KEY = config.get('AWS', 'AWS_SECRET_KEY')
AWS_REGION = config.get('AWS', 'AWS_REGION')

SCHEMA_NAME = config.get('S3', 'SCHEMA_NAME')
S3_STAGING_DIR = config.get('S3', 'S3_STAGING_DIR')
S3_BUCKET_NAME = config.get('S3', 'S3_BUCKET_NAME')
S3_OUTPUT_DIRECTORY = config.get('S3', 'S3_OUTPUT_DIRECTORY')

DWH_CLUSTER_TYPE = config.get('DWH', 'DWH_CLUSTER_TYPE')
DWH_NUM_NODES = config.get('DWH', 'DWH_NUM_NODES')
DWH_NODE_TYPE = config.get('DWH', 'DWH_NODE_TYPE')

DWH_CLUSTER_IDENTIFIER = config.get('DWH', 'DWH_CLUSTER_IDENTIFIER')
DWH_DB = config.get('DWH', 'DWH_DB')
DWH_DB_USER = config.get('DWH', 'DWH_DB_USER')
DWH_DB_PASSWORD = config.get('DWH', 'DWH_DB_PASSWORD')
DWH_PORT = config.get('DWH', 'DWH_PORT')

DWH_IAM_ROLE_NAME = config.get('DWH', 'DWH_IAM_ROLE_NAME')

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB, DWH_PORT)

('awsuser', 'Passw0rd123', 'dev', '5439')

In [170]:
# AWS_ACCESS_KEY = "AKIAXYKJT46F4ZHRVAM2"
# AWS_SECRET_KEY = "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"
# AWS_REGION = "ap-southeast-2"
# SCHEMA_NAME = "covid_dataset"
# S3_STAGING_DIR = "s3://covid19-data-test-bucket/output/"
# S3_BUCKET_NAME = "covid19-data-test-bucket"
# S3_OUTPUT_DIRECTORY = "output"

# DWH_CLUSTER_IDENTIFIER = "redshift-cluster-1"
# DWH_PORT = 5439

<h3>Create object for athena to connect to athena</h3>

In [10]:
# Create object for athena to connect to athena
athena_client = boto3.client(
                    "athena",
                    region_name=AWS_REGION,
                    aws_access_key_id=AWS_ACCESS_KEY,
                    aws_secret_access_key=AWS_SECRET_KEY
)

<h3>Codes for reference use</h3>

In [91]:
# def athena_query(client, params):
#     response = client.start_query_execution(
#         QueryString=params["query"],
#         QueryExecutionContext={
#             'Database': params['database']
#         },
#         ResultConfiguration={
#             'OutputLocation': 's3://' + params['bucket'] + '/' + params['path']
#         }
#     )
#     return response

In [92]:
# def athena_to_s3(session, params, max_execution = 5):
#     # Create object for athena to connect to athena
#     client = session.client('athena', region_name=params["region"])
#     # getting response from athena
#     execution = athena_query(client, params)
    
#     execution_id = execution['QueryExecutionId']
#     state = 'RUNNING'

#     while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
#         max_execution = max_execution - 1
#         response = client.get_query_execution(QueryExecutionId = execution_id)

#         if 'QueryExecution' in response and \
#                 'Status' in response['QueryExecution'] and \
#                 'State' in response['QueryExecution']['Status']:
#             state = response['QueryExecution']['Status']['State']
#             if state == 'FAILED':
#                 return False
#             elif state == 'SUCCEEDED':
#                 s3_path = response['QueryExecution']['ResultConfiguration']['OutputLocation']
#                 filename = re.findall('.*\/(.*)', s3_path)[0]
#                 return filename
#         time.sleep(1)
    
#     return False

In [93]:
# # https://stackoverflow.com/questions/52026405/how-to-create-dataframe-from-aws-athena-using-boto3-get-query-results-method
# Dict = {}
# def download_and_load_query_results(
#     client: boto3.client, query_response: Dict, max_execution = 5
# ) -> pd.DataFrame:
#     state = 'RUNNING'
    
#     while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
#         try:
#             max_execution = max_execution - 1
#             response = client.get_query_execution(QueryExecutionId=query_response["QueryExecutionId"])

#             if 'QueryExecution' in response and 'Status' in response['QueryExecution'] and 'State' in response['QueryExecution']['Status']:
#                 state = response['QueryExecution']['Status']['State']
#                 if state == 'FAILED':
#                     return response['QueryExecution']
#                 elif state == 'SUCCEEDED':
#                     # This function only loads the first 1000 rows
#                     client.get_query_results(
#                         QueryExecutionId=query_response["QueryExecutionId"]
#                     )
#                     break
#             time.sleep(1)
            
#         except Exception as err:
#             if "not yet fininished" in str(err):
#                 time.sleep(0.001)
#             else:
#                 raise err
                
#     # temp_file_location: str = "athena_query_results.csv"
#     s3_client = boto3.client("s3",
#                         region_name=AWS_REGION,
#                         aws_access_key_id=AWS_ACCESS_KEY,
#                         aws_secret_access_key=AWS_SECRET_KEY
#         )
#     s3_client.download_file(
#             S3_BUCKET_NAME,
#             f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
#             # temp_file_location
#         )
#     return pd.read_csv(f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv")

In [94]:
# # https://stackoverflow.com/questions/52026405/how-to-create-dataframe-from-aws-athena-using-boto3-get-query-results-method
# Dict = {}
# def download_and_load_query_results(
#     client: boto3.client, query_response: Dict
# ) -> pd.DataFrame:
#     while True:
#         try:
#             # This function only loads the first 1000 rows
#             client.get_query_results(
#                 QueryExecutionId=query_response["QueryExecutionId"]
#             )
#             break
#         except Exception as err:
#             if "not yet fininished" in str(err):
#                 time.sleep(0.001)
#             else:
#                 raise err
#     temp_file_location: str = "athena_query_results.csv"
#     s3_client = boto3.client("s3",
#                     region_name=AWS_REGION,
#                     aws_access_key_id=AWS_ACCESS_KEY,
#                     aws_secret_access_key=AWS_SECRET_KEY
#     )
#     s3_client.download_file(
#         S3_BUCKET_NAME,
#         f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
#         temp_file_location
#     )
#     return pd.read_csv(temp_file_location)

In [95]:
# # Deletes all files in your path so use carefully!
# def cleanup(session, params):
#     s3 = session.resource('s3')
#     my_bucket = s3.Bucket(params['bucket'])
#     for item in my_bucket.objects.filter(Prefix=params['path']):
#         item.delete()

In [96]:
# # Query Athena and get the s3 filename as a result
# s3_filename = athena_to_s3(session, params)

# # Removes all files from the s3 folder you specified, so be careful
# cleanup(session, params)

<h3>Create df from tables</h3>

<h5>enigma_jhud</h5>

In [11]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud;",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)

In [12]:
# https://stackoverflow.com/questions/52026405/how-to-create-dataframe-from-aws-athena-using-boto3-get-query-results-method
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict, max_execution = 5
) -> pd.DataFrame:
    state = 'RUNNING'
    
    while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        try:
            max_execution = max_execution - 1
            response = client.get_query_execution(QueryExecutionId=query_response["QueryExecutionId"])

            if 'QueryExecution' in response and 'Status' in response['QueryExecution'] and 'State' in response['QueryExecution']['Status']:
                state = response['QueryExecution']['Status']['State']
                if state == 'FAILED':
                    return response['QueryExecution']
                elif state == 'SUCCEEDED':
                    # This function only loads the first 1000 rows
                    client.get_query_results(
                        QueryExecutionId=query_response["QueryExecutionId"]
                    )
                    break
            time.sleep(1)
            
        except Exception as err:
            if "not yet fininished" in str(err):
                time.sleep(0.001)
            else:
                raise err
                
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client("s3",
                        region_name=AWS_REGION,
                        aws_access_key_id=AWS_ACCESS_KEY,
                        aws_secret_access_key=AWS_SECRET_KEY
        )
    s3_client.download_file(
            S3_BUCKET_NAME,
            f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
            temp_file_location
        )
    return pd.read_csv(temp_file_location)

In [13]:
# Check of HTTPS status code is 200 to see if code above is successful
response

{'QueryExecutionId': '6a7ad01d-8429-4205-84c5-d554593ab78a',
 'ResponseMetadata': {'RequestId': '24972636-01a7-48ed-928f-ee510f310bf2',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 11 Apr 2024 01:27:06 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '24972636-01a7-48ed-928f-ee510f310bf2'},
  'RetryAttempts': 0}}

In [14]:
enigma_jhud = download_and_load_query_results(athena_client, response)

In [15]:
type(enigma_jhud)

pandas.core.frame.DataFrame

In [16]:
enigma_jhud

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50979,NaN,NaN,Martinique,France,2020-04-05T23:06:26,14.642,-61.024,149.0,4.0,50.0,95.0,"""Martinique",csv
50980,NaN,NaN,Mayotte,France,2020-04-05T23:06:26,-12.828,45.166,147.0,2.0,14.0,131.0,"""Mayotte",csv
50981,NaN,NaN,Montserrat,United Kingdom,2020-04-05T23:06:26,16.742,-62.187,6.0,0.0,0.0,6.0,"""Montserrat",csv
50982,NaN,NaN,New Brunswick,Canada,2020-04-05T23:13:28,46.565,-66.462,98.0,0.0,0.0,0.0,"""New Brunswick",csv
50983,NaN,NaN,New Caledon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csv

<h5>nytimes_data_in_usa_us_county</h5>

In [17]:
# nytimes_data_in_usa_us_county
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_county;",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
nytimes_data_in_usa_us_county = download_and_load_query_results(athena_client, response)

In [18]:
nytimes_data_in_usa_us_county.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

<h5>nytimes_data_in_usa_us_states</h5>

In [19]:
# nytimes_data_in_usa_us_states
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_states;",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
nytimes_data_in_usa_us_states = download_and_load_query_results(athena_client, response)

In [20]:
nytimes_data_in_usa_us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

<h5>rearc_covid_19_testing_data_states_daily</h5>

In [21]:
# rearc_covid_19_testing_data_states_daily
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_states_daily;",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
rearc_covid_19_testing_data_states_daily = download_and_load_query_results(athena_client, response)

In [22]:
rearc_covid_19_testing_data_states_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

<h5>rearc_covid_19_testing_data_us_daily</h5>

In [23]:
# rearc_covid_19_testing_data_us_daily
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_daily;",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
rearc_covid_19_testing_data_us_daily = download_and_load_query_results(athena_client, response)

In [24]:
rearc_covid_19_testing_data_us_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

<h5>rearc_covid_19_testing_data_us_total_latest</h5>

In [25]:
# rearc_covid_19_testing_data_us_total_latest
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_total_latest;",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
rearc_covid_19_testing_data_us_total_latest = download_and_load_query_results(athena_client, response)

In [26]:
rearc_covid_19_testing_data_us_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

<h5>static_datasets_countrycode</h5>

In [27]:
# static_datasets_countrycode
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_countrycode;",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
static_datasets_countrycode = download_and_load_query_results(athena_client, response)

In [28]:
static_datasets_countrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

<h5>static_datasets_countypopulation</h5>

In [29]:
# static_datasets_countypopulation
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_countypopulation;",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
static_datasets_countypopulation = download_and_load_query_results(athena_client, response)

In [30]:
static_datasets_countypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

<h5>rearc_usa_hospital_beds_rearc_usa_hospital_beds</h5>

In [31]:
# # https://stackoverflow.com/questions/52026405/how-to-create-dataframe-from-aws-athena-using-boto3-get-query-results-method
# Dict = {}
# def download_and_load_query_results(
#     client: boto3.client, query_response: Dict, max_execution = 5
# ) -> pd.DataFrame:
#     state = 'RUNNING'
    
#     while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
#         try:
#             max_execution = max_execution - 1
#             response = client.get_query_execution(QueryExecutionId=query_response["QueryExecutionId"])

#             if 'QueryExecution' in response and 'Status' in response['QueryExecution'] and 'State' in response['QueryExecution']['Status']:
#                 state = response['QueryExecution']['Status']['State']
#                 if state == 'FAILED':
#                     return response['QueryExecution']
#                 elif state == 'SUCCEEDED':
#                     # This function only loads the first 1000 rows
#                     client.get_query_results(
#                         QueryExecutionId=query_response["QueryExecutionId"]
#                     )
#                     break
#             time.sleep(1)
            
#         except Exception as err:
#             if "not yet fininished" in str(err):
#                 time.sleep(0.001)
#             else:
#                 raise err
                
#     temp_file_location: str = "athena_query_results.csv"
#     s3_client = boto3.client("s3",
#                         region_name=AWS_REGION,
#                         aws_access_key_id=AWS_ACCESS_KEY,
#                         aws_secret_access_key=AWS_SECRET_KEY
#         )
#     s3_client.download_file(
#             S3_BUCKET_NAME,
#             f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.json",
#             "athena_query_results.json"
#         )
#     json_file_df = pd.read_json("athena_query_results.json")
#     return json_file_df.to_csv(temp_file_location)

In [32]:
# https://stackoverflow.com/questions/52026405/how-to-create-dataframe-from-aws-athena-using-boto3-get-query-results-method
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict, max_execution = 5
) -> pd.DataFrame:
    state = 'RUNNING'
    
    while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        try:
            max_execution = max_execution - 1
            response = client.get_query_execution(QueryExecutionId=query_response["QueryExecutionId"])

            if 'QueryExecution' in response and 'Status' in response['QueryExecution'] and 'State' in response['QueryExecution']['Status']:
                state = response['QueryExecution']['Status']['State']
                if state == 'FAILED':
                    return response['QueryExecution']
                elif state == 'SUCCEEDED':
                    # This function only loads the first 1000 rows
                    client.get_query_results(
                        QueryExecutionId=query_response["QueryExecutionId"]
                    )
                    break
            time.sleep(1)
            
        except Exception as err:
            if "not yet fininished" in str(err):
                time.sleep(0.001)
            else:
                raise err
                
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client("s3",
                        region_name=AWS_REGION,
                        aws_access_key_id=AWS_ACCESS_KEY,
                        aws_secret_access_key=AWS_SECRET_KEY
        )
    s3_client.download_file(
            S3_BUCKET_NAME,
            f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
            temp_file_location
        )
    return pd.read_csv(temp_file_location)

In [33]:
# rearc_usa_hospital_beds_rearc_usa_hospital_beds
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds_rearc_usa_hospital_beds;",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
rearc_usa_hospital_beds_rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)

In [34]:
rearc_usa_hospital_beds_rearc_usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,Maricopa,Arizona,...,129.0,129.0,0,0,NaN,NaN,0.0,0,33.495498,-112.066157
1,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,Pima,Arizona,...,295.0,295.0,2,2,NaN,NaN,2.0,0,32.181263,-110.965885
2,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,Fresno,California,...,57.0,57.0,2,2,NaN,NaN,2.0,0,36.773324,-119.779742
3,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,New Haven,Connecticut,...,216.0,216.0,1,1,NaN,NaN,2.0,0,41.284400,-72.957610
4,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,New Castle,Delaware,...,60.0,60.0,0,0,NaN,NaN,1.0,0,39.740206,-75.606532

<h5>static_datasets_state_abv</h5>

In [35]:
# https://stackoverflow.com/questions/52026405/how-to-create-dataframe-from-aws-athena-using-boto3-get-query-results-method
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict, max_execution = 5
) -> pd.DataFrame:
    state = 'RUNNING'
    
    while (max_execution > 0 and state in ['RUNNING', 'QUEUED']):
        try:
            max_execution = max_execution - 1
            response = client.get_query_execution(QueryExecutionId=query_response["QueryExecutionId"])

            if 'QueryExecution' in response and 'Status' in response['QueryExecution'] and 'State' in response['QueryExecution']['Status']:
                state = response['QueryExecution']['Status']['State']
                if state == 'FAILED':
                    return response['QueryExecution']
                elif state == 'SUCCEEDED':
                    # This function only loads the first 1000 rows
                    client.get_query_results(
                        QueryExecutionId=query_response["QueryExecutionId"]
                    )
                    break
            time.sleep(1)
            
        except Exception as err:
            if "not yet fininished" in str(err):
                time.sleep(0.001)
            else:
                raise err
                
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client("s3",
                        region_name=AWS_REGION,
                        aws_access_key_id=AWS_ACCESS_KEY,
                        aws_secret_access_key=AWS_SECRET_KEY
        )
    s3_client.download_file(
            S3_BUCKET_NAME,
            f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
            temp_file_location
        )
    return pd.read_csv(temp_file_location)

In [36]:
# static_datasets_state_abv
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_state_abv;",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)
static_datasets_state_abv = download_and_load_query_results(athena_client, response)

In [125]:
static_datasets_state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

<strong>Setting the header</strong>

In [37]:
new_header = static_datasets_state_abv.iloc[0] # grab the first row for the header
static_datasets_state_abv = static_datasets_state_abv[1:] #take the data less the header row
static_datasets_state_abv.columns = new_header #set the header row as the df header

In [38]:
static_datasets_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

<h3>Create fact and dimension tables</h3>

<h5>factCovid</h5>

In [39]:
enigma_jhud.columns

Index(['fips', 'admin2', 'province_state', 'country_region', 'last_update',
       'latitude', 'longitude', 'confirmed', 'deaths', 'recovered', 'active',
       'combined_key', 'partition_0'],
      dtype='object')

In [40]:
rearc_covid_19_testing_data_states_daily.columns

Index(['date', 'state', 'positive', 'probablecases', 'negative', 'pending',
       'totaltestresultssource', 'totaltestresults', 'hospitalizedcurrently',
       'hospitalizedcumulative', 'inicucurrently', 'inicucumulative',
       'onventilatorcurrently', 'onventilatorcumulative', 'recovered',
       'lastupdateet', 'datemodified', 'checktimeet', 'death', 'hospitalized',
       'hospitalizeddischarged', 'datechecked', 'totaltestsviral',
       'positivetestsviral', 'negativetestsviral', 'positivecasesviral',
       'deathconfirmed', 'deathprobable', 'totaltestencountersviral',
       'totaltestspeopleviral', 'totaltestsantibody', 'positivetestsantibody',
       'negativetestsantibody', 'totaltestspeopleantibody',
       'positivetestspeopleantibody', 'negativetestspeopleantibody',
       'totaltestspeopleantigen', 'positivetestspeopleantigen',
       'totaltestsantigen', 'positivetestsantigen', 'fips', 'positiveincrease',
       'negativeincrease', 'total', 'totaltestresultsincrease', 'posneg',
       'dataqualitygrade', 'deathincrease', 'hospitalizedincrease', 'hash',
       'commercialscore', 'negativeregularscore', 'negativescore',
       'positivescore', 'score', 'grade'],
      dtype='object')

In [41]:
factCovid_1 = enigma_jhud[['fips', 'province_state', 'country_region',
       'confirmed', 'deaths', 'recovered', 'active']]
factCovid_2 = rearc_covid_19_testing_data_states_daily[['date', 'positive', 'negative', 'hospitalizedcurrently', 'hospitalized',
       'hospitalizeddischarged','fips']]
factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')

In [42]:
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN

<h5>dimRegion</h5>

In [43]:
nytimes_data_in_usa_us_county.columns

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [44]:
dimRegion1 = enigma_jhud[['fips', 'province_state', 'country_region', 'latitude', 'longitude']]
dimRegion2 = nytimes_data_in_usa_us_county[['county', 'state', 'fips']]
dimRegion = pd.merge(dimRegion1, dimRegion2, on='fips', how='inner')

In [45]:
dimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York

<h5>dimHospital</h5>

In [46]:
rearc_usa_hospital_beds_rearc_usa_hospital_beds.columns

Index(['objectid', 'hospital_name', 'hospital_type', 'hq_address',
       'hq_address1', 'hq_city', 'hq_state', 'hq_zip_code', 'county_name',
       'state_name', 'state_fips', 'cnty_fips', 'fips', 'num_licensed_beds',
       'num_staffed_beds', 'num_icu_beds', 'adult_icu_beds', 'pedi_icu_beds',
       'bed_utilization', 'avg_ventilator_usage',
       'potential_increase_in_bed_capac', 'latitude', 'longtitude'],
      dtype='object')

In [47]:
dimHospital = rearc_usa_hospital_beds_rearc_usa_hospital_beds[['hospital_name', 'hospital_type', 'hq_address',
       'hq_city', 'hq_state', 'state_name', 'fips', 'latitude', 'longtitude']]

In [48]:
dimHospital.head()

,hospital_name,hospital_type,hq_address,hq_city,hq_state,state_name,fips,latitude,longtitude
0,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,Phoenix,AZ,Arizona,4013.0,33.495498,-112.066157
1,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,Tucson,AZ,Arizona,4019.0,32.181263,-110.965885
2,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,Fresno,CA,California,6019.0,36.773324,-119.779742
3,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,West Haven,CT,Connecticut,9009.0,41.284400,-72.957610
4,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,Wilmington,DE,Delaware,10003.0,39.740206,-75.606532

<h5>dimDate</h5>

In [49]:
rearc_covid_19_testing_data_states_daily.columns

Index(['date', 'state', 'positive', 'probablecases', 'negative', 'pending',
       'totaltestresultssource', 'totaltestresults', 'hospitalizedcurrently',
       'hospitalizedcumulative', 'inicucurrently', 'inicucumulative',
       'onventilatorcurrently', 'onventilatorcumulative', 'recovered',
       'lastupdateet', 'datemodified', 'checktimeet', 'death', 'hospitalized',
       'hospitalizeddischarged', 'datechecked', 'totaltestsviral',
       'positivetestsviral', 'negativetestsviral', 'positivecasesviral',
       'deathconfirmed', 'deathprobable', 'totaltestencountersviral',
       'totaltestspeopleviral', 'totaltestsantibody', 'positivetestsantibody',
       'negativetestsantibody', 'totaltestspeopleantibody',
       'positivetestspeopleantibody', 'negativetestspeopleantibody',
       'totaltestspeopleantigen', 'positivetestspeopleantigen',
       'totaltestsantigen', 'positivetestsantigen', 'fips', 'positiveincrease',
       'negativeincrease', 'total', 'totaltestresultsincrease', 'posneg',
       'dataqualitygrade', 'deathincrease', 'hospitalizedincrease', 'hash',
       'commercialscore', 'negativeregularscore', 'negativescore',
       'positivescore', 'score', 'grade'],
      dtype='object')

In [50]:
dimDate = rearc_covid_19_testing_data_states_daily[['date', 'fips']]

In [51]:
dimDate.head()

       date  fips
0  20210307   2.0
1  20210307   1.0
2  20210307   5.0
3  20210307  60.0
4  20210307   4.0

<strong>Create year, month, and day_of_week columns from date</strong>

In [52]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

C:\Users\macri\AppData\Local\Temp\ipykernel_1956\572748324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

In [53]:
dimDate.head()

        date  fips
0 2021-03-07   2.0
1 2021-03-07   1.0
2 2021-03-07   5.0
3 2021-03-07  60.0
4 2021-03-07   4.0

In [54]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

C:\Users\macri\AppData\Local\Temp\ipykernel_1956\935310350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
C:\Users\macri\AppData\Local\Temp\ipykernel_1956\935310350.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
C:\Users\macri\AppData\Local\Temp\ipykernel_1956\935310350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

In [55]:
dimDate.head()

        date  fips  year  month  day_of_week
0 2021-03-07   2.0  2021      3            6
1 2021-03-07   1.0  2021      3            6
2 2021-03-07   5.0  2021      3            6
3 2021-03-07  60.0  2021      3            6
4 2021-03-07   4.0  2021      3            6

<h3>Save result to S3</h3>

In [56]:
bucket = 'covid19-data-aws-de-project'

In [57]:
# https://stackoverflow.com/questions/40336918/how-to-write-a-file-or-data-to-an-s3-object-using-boto3
csv_buffer = StringIO()

In [58]:
# csv_buffer is a string io object that stores all the info into the binary
csv_buffer

In [59]:
s3_resource = boto3.resource('s3',
                region_name=AWS_REGION,
                aws_access_key_id=AWS_ACCESS_KEY,
                aws_secret_access_key=AWS_SECRET_KEY
)

<h5>factCovid</h5>

In [60]:
# Store the factCovid df as csv
factCovid.to_csv(csv_buffer)

In [61]:
s3_resource.Object(bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '0SBA2F7SVVD1R1ZR',
  'HostId': 'Xw8cRNJzv+6QsiVw/qNDGFK2pP6Gu4lKH7OUBjUWOrv4yrkROj6z/PAsJjByfTaLVfW7IRzP9pA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Xw8cRNJzv+6QsiVw/qNDGFK2pP6Gu4lKH7OUBjUWOrv4yrkROj6z/PAsJjByfTaLVfW7IRzP9pA=',
   'x-amz-request-id': '0SBA2F7SVVD1R1ZR',
   'date': 'Thu, 11 Apr 2024 01:30:11 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"ef78578b64cebc9e69def09c5ed79f80"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"ef78578b64cebc9e69def09c5ed79f80"',
 'ServerSideEncryption': 'AES256'}

<h5>dimRegion</h5>

In [62]:
dimRegion.to_csv(csv_buffer)

In [63]:
s3_resource.Object(bucket, 'output/dimRegion.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'GP32Y8MM2XKDNFEF',
  'HostId': 'EnMfJ2UNCeLhxW+5uSa0voXNSMYOFJxe6BGTEkGLcDA8FTx1sBMGoQujudntEKWJKL2zZ64UpRI=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'EnMfJ2UNCeLhxW+5uSa0voXNSMYOFJxe6BGTEkGLcDA8FTx1sBMGoQujudntEKWJKL2zZ64UpRI=',
   'x-amz-request-id': 'GP32Y8MM2XKDNFEF',
   'date': 'Thu, 11 Apr 2024 01:30:54 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"fc44c0178d57f9a590f60758faaf692c"',
   'server': 'AmazonS3',
   'content-length': '0',
   'connection': 'close'},
  'RetryAttempts': 0},
 'ETag': '"fc44c0178d57f9a590f60758faaf692c"',
 'ServerSideEncryption': 'AES256'}

<h5>dimHospital</h5>

In [64]:
dimHospital.to_csv(csv_buffer)

In [65]:
s3_resource.Object(bucket, 'output/dimHospital.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '6ZMQ6ZZZZ44ATXS6',
  'HostId': '91iKTNymxv1SjxPi5i492aL9BULAIREtQ7oqv/9cIVIu2koOcDH6oqmXLOeNoJO32830gnxz0N5aU7yLNLR+HA==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '91iKTNymxv1SjxPi5i492aL9BULAIREtQ7oqv/9cIVIu2koOcDH6oqmXLOeNoJO32830gnxz0N5aU7yLNLR+HA==',
   'x-amz-request-id': '6ZMQ6ZZZZ44ATXS6',
   'date': 'Thu, 11 Apr 2024 03:30:30 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"4d295b9f5299904b3fde2ffb86e212b9"',
   'server': 'AmazonS3',
   'content-length': '0',
   'connection': 'close'},
  'RetryAttempts': 0},
 'ETag': '"4d295b9f5299904b3fde2ffb86e212b9"',
 'ServerSideEncryption': 'AES256'}

<h5>dimDate</h5>

In [66]:
dimDate.to_csv(csv_buffer)

In [67]:
s3_resource.Object(bucket, 'output/dimDate.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '9RQP6CTCDH2BMCGX',
  'HostId': 'uRf6XTh48DHsfpgDhWxmwSNgSjFrX8DjB4N028iElQh6KX3FAj0+VKdfsydpCoUz7nFRdWSfyNMgN6Hts6K07A==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'uRf6XTh48DHsfpgDhWxmwSNgSjFrX8DjB4N028iElQh6KX3FAj0+VKdfsydpCoUz7nFRdWSfyNMgN6Hts6K07A==',
   'x-amz-request-id': '9RQP6CTCDH2BMCGX',
   'date': 'Thu, 11 Apr 2024 03:59:23 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"4f02f0574fda5aa58c6767a1aec7df80"',
   'server': 'AmazonS3',
   'content-length': '0',
   'connection': 'close'},
  'RetryAttempts': 0},
 'ETag': '"4f02f0574fda5aa58c6767a1aec7df80"',
 'ServerSideEncryption': 'AES256'}

<h3>Extract schema from dataframe</h3>

In [76]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "date" TIMESTAMP,
  "fips" REAL,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [77]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [78]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [79]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_address" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT,
  "state_name" TEXT,
  "fips" REAL,
  "latitude" REAL,
  "longtitude" REAL
)

<h3>Connect to Redshift</h3>

In [80]:
import redshift_connector
import psycopg2

In [81]:
# Create object for EC2
ec2 = boto3.resource('ec2',
                    region_name=AWS_REGION,
                    aws_access_key_id=AWS_ACCESS_KEY,
                    aws_secret_access_key=AWS_SECRET_KEY
)

In [82]:
# Create object for S3
s3 = boto3.resource('s3',
                    region_name=AWS_REGION,
                    aws_access_key_id=AWS_ACCESS_KEY,
                    aws_secret_access_key=AWS_SECRET_KEY
)

In [83]:
# Create object for IAM
iam = boto3.client('iam',
                    region_name=AWS_REGION,
                    aws_access_key_id=AWS_ACCESS_KEY,
                    aws_secret_access_key=AWS_SECRET_KEY
)

In [86]:
# Create object for Redshift
redshift = boto3.client('redshift',
                    region_name=AWS_REGION,
                    aws_access_key_id=AWS_ACCESS_KEY,
                    aws_secret_access_key=AWS_SECRET_KEY
)

In [84]:
# Data on S3 and Redshift cannot communicate directly so we nee to provide explicit permission to the S3 bucket using IAM role
# ARN - Amazon Resource Names
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']
roleArn

'arn:aws:iam::533267212171:role/redshift-s3-access'

In [10]:
# aws redshift sdk python - https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html
try:
    response = redshift.create_cluster(
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        
        # Identifiers and Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,

        # Roles (for s3 access)
        IamRoles=[roleArn],
    )
except Exception as e:
    print(e)

An error occurred (InvalidParameterValue) when calling the CreateCluster operation: Number of nodes must be supplied for cluster type multi-node and must be greater than or equal to 2.

In [87]:
redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)

{'Clusters': [{'ClusterIdentifier': 'redshift-cluster-1',
   'NodeType': 'ra3.xlplus',
   'ClusterStatus': 'available',
   'ClusterAvailabilityStatus': 'Available',
   'MasterUsername': 'awsuser',
   'DBName': 'dev',
   'Endpoint': {'Address': 'redshift-cluster-1.crzeloegsaw2.ap-southeast-2.redshift.amazonaws.com',
    'Port': 5439,
    'VpcEndpoints': [{'VpcEndpointId': 'vpce-0f0eac752c0fd5d69',
      'VpcId': 'vpc-0c3e08ac398c184b3',
      'NetworkInterfaces': [{'NetworkInterfaceId': 'eni-05b5d48894187e485',
        'SubnetId': 'subnet-07208d834bcf2e255',
        'PrivateIpAddress': '172.31.4.139',
        'AvailabilityZone': 'ap-southeast-2a'}]}]},
   'ClusterCreateTime': datetime.datetime(2024, 4, 10, 15, 1, 4, 250000, tzinfo=tzutc()),
   'AutomatedSnapshotRetentionPeriod': 1,
   'ManualSnapshotRetentionPeriod': -1,
   'ClusterSecurityGroups': [],
   'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-03fd11e92570711ff',
     'Status': 'active'}],
   'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
     'ParameterApplyStatus': 'in-sync'}],
   'ClusterSubnetGroupName': 'default',
   'VpcId': 'vpc-0c3e08ac398c184b3',
   'AvailabilityZone': 'ap-southeast-2a',
   'PreferredMaintenanceWindow': 'sat:19:30-sat:20:00',
   'PendingModifiedValues': {},
   'ClusterVersion': '1.0',
   'AllowVersionUpgrade': True,
   'NumberOfNodes': 1,
   'PubliclyAccessible': True,
   'Encrypted': False,
   'ClusterPublicKey': 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDsEW+ksRyuxa4uB9/npce9vVd0kK02GLEn7HUcfk+00jXBWtrk11Znc7UATjJngLu8LnlPKaF2UbqdU7/s9jWyUiWQqN6+Rli/ZAUU0Qo3JPn0sCBactcU69A7oG1yysO2R2TecfAjfT/3l5syV368PRUtNBC2LrboRApJiE0cmzIH7yzm1KsG1gXiTiD8xOKjalYWpUrBBTTtITw4mkNbPesz3m2x3GMVRT70LuPtuvRiJPaayUozdt1eNfaPepSIOEaHd7tYLiJVORhEkoRijEjHzO+B9DRND8va6wgLKT/0MgKanc9b+hdIkCm3jm8ko7tqMjgpv5qhn5wVNusj Amazon-Redshift\n',
   'ClusterNodes': [{'NodeRole': 'SHARED',
     'PrivateIPAddress': '172.31.9.44',
     'PublicIPAddress': '54.79.213.145'}],
   'ClusterRevisionNumber': '63269',
   'Tags': [],
   'EnhancedVpcRouting': False,
   'IamRoles': [{'IamRoleArn': 'arn:aws:iam::533267212171:role/redshift-s3-access',
     'ApplyStatus': 'in-sync'}],
   'MaintenanceTrackName': 'current',
   'DeferredMaintenanceWindows': [],
   'NextMaintenanceWindowStartTime': datetime.datetime(2024, 4, 13, 19, 30, tzinfo=tzutc()),
   'AvailabilityZoneRelocationStatus': 'disabled',
   'ClusterNamespaceArn': 'arn:aws:redshift:ap-southeast-2:533267212171:namespace:2a4b2fe9-67ae-476f-a9e8-feac8a9728b9',
   'TotalStorageCapacityInMegaBytes': 4000000,
   'AquaConfiguration': {'AquaStatus': 'disabled',
    'AquaConfigurationStatus': 'auto'},
   'MultiAZ': 'Disabled'}],
 'ResponseMetadata': {'RequestId': '82deb77e-8b84-4d83-b98c-c92c759c0b3d',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '82deb77e-8b84-4d83-b98c-c92c759c0b3d',
   'content-type': 'text/xml',
   'content-length': '4712',
   'date': 'Thu, 11 Apr 2024 04:25:55 GMT'},
  'RetryAttempts': 0}}

In [88]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', None)
    keysToShow = ['ClusterIdentifier', 'NodeType', 'ClusterStatus', 'MasterUsename', 'DBName', 'Endpoint', 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=['Key', 'Value'])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,redshift-cluster-1
1,NodeType,ra3.xlplus
2,ClusterStatus,available
3,DBName,dev
4,Endpoint,"{'Address': 'redshift-cluster-1.crzeloegsaw2.ap-southeast-2.redshift.amazonaws.com', 'Port': 5439, 'VpcEndpoints': [{'VpcEndpointId': 'vpce-0f0eac752c0fd5d69', 'VpcId': 'vpc-0c3e08ac398c184b3', 'NetworkInterfaces': [{'NetworkInterfaceId': 'eni-05b5d48894187e485', 'SubnetId': 'subnet-07208d834bcf2e255', 'PrivateIpAddress': '172.31.4.139', 'AvailabilityZone': 'ap-southeast-2a'}]}]}"
5,VpcId,vpc-0c3e08ac398c184b3

In [89]:
# We need these info to create VPC
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DB_NAME = myClusterProps['DBName']
DB_USER = myClusterProps['MasterUsername']

In [90]:
# Attaching VPC (Virtual Provate Cloud)
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    default5g = list(vpc.security_groups.all())[0]
    print(default5g)

    default5g.authorize_ingress(
        GroupName=default5g.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-03fd11e92570711ff')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [16]:
# conn = redshift_connector.connect(
#     host=DWH_HOST,
#     database=DWH_DB,
#     user=DWH_DB_USER,
#     password=DWH_DB_PASSWORD
# )

In [91]:
try:
    conn = psycopg2.connect(host=DWH_ENDPOINT, dbname=DB_NAME, user=DB_USER, password=DWH_DB_PASSWORD, port=DWH_PORT)
except psycopg2.Error as e:
    print('Error: Could not make connection to the Postgres database')
    print(e)

conn.set_session(autocommit=True)

In [92]:
# cursor is used to execute query on redshift
try:
    cur = conn.cursor()
except pyscopg2.Error as e:
    print('Error: Could not get cursor to the database')
    print(e)

In [101]:
try:
    cur.execute("""
        CREATE TABLE "dimDate" (
        "index" INTEGER,
        "fips" REAL,
        "date" TIMESTAMP,
        "year" INTEGER,
        "month" INTEGER,
        "day_of_week" INTEGER
        );
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [94]:
try:
    cur.execute("""
        CREATE TABLE "dimHospital" (
        "index" INTEGER,
        "fips" REAL,
        "hospital_name" TEXT,
        "hospital_type" TEXT,
        "hq_address" TEXT,
        "hq_city" TEXT,
        "hq_state" TEXT,
        "state_name" TEXT,
        "latitude" REAL,
        "longtitude" REAL
        );
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [95]:
try:
    cur.execute("""
       CREATE TABLE "dimRegion" (
        "index" INTEGER,
        "fips" INTEGER,
        "province_state" TEXT,
        "country_region" TEXT,
        "latitude" REAL,
        "longitude" REAL,
        "county" TEXT,
        "state" TEXT
        );
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [96]:
try:
    cur.execute("""
        CREATE TABLE "factCovid" (
        "index" INTEGER,
        "fips" REAL,
        "province_state" TEXT,
        "country_region" TEXT,
        "confirmed" REAL,
        "deaths" REAL,
        "recovered" REAL,
        "active" REAL,
        "date" INTEGER,
        "positive" INTEGER,
        "negative" REAL,
        "hospitalizedcurrently" REAL,
        "hospitalized" REAL,
        "hospitalizeddischarged" REAL
);
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [103]:
# https://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html
try:
    cur.execute("""
    copy dimDate from 's3://covid19-data-aws-de-project/output/dimDate.csv'
    credentials 'aws_iam_role=arn:aws:iam::533267212171:role/redshift-s3-access'
    delimiter ','
    region 'ap-southeast-2'
    IGNOREHEADER 1
    """)
except psycopg2.Error as e:
    print('Error: Load data into table failed')
    print(e)

Error: Load data into table failed
Load into table 'dimdate' failed.  Check 'stl_load_errors' system table for details.